# Testing Mod download folder
mods/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example        # but DO commit an example template

# Docker
docker-compose.override.yml

# VSCode
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
logs/